
  p, h2 {
    width: 300px;
  border: 15px solid rgb(128, 0, 6);
  padding: 50px;
  margin: 20px;
  }
  a:link, a:visited {
  font-family: monospace;
  background-color: rgb(128, 0, 6);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blueviolet;
}