<html>
<head><title>Task Tracker My Site</title>
    <link rel="style.css"/>
</head>
</html>
<body>
<form action="/store" method="POST"><p>Task Id:<input type="number" name="taskId" value="" required="true"/><br/><br/>
    EmpId:<input type="number" name="empId" value="" required="true"/><br/><br/>
    Task:<input type="text" name="task" value="" required="true"/><br/><br/>
    Deadline<input type="date" name="deadline" value="" required="true"/><br/><br/></p>
    <input type="submit" value="Create"/>
</form>
</body>
